name: Deploy Addon

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

        env:
         CF_API_KEY: ${{ secrets.CF_API_KEY }}
         WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}